@font-face {
  font-family: 'RedditSans';
  src:
    local('RedditSans'),
    url('../assets/fonts/Reddit_Sans/static/RedditSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RedditSans';
  src:
    local('RedditSans'),
    url('../assets/fonts/Reddit_Sans/static/RedditSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'RedditSans';
  src:
    local('RedditSans'),
    url('../assets/fonts/Reddit_Sans/static/RedditSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'RedditSans';
  src:
    local('RedditSans'),
    url('../assets/fonts/Reddit_Sans/static/RedditSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RedditSans';
  src:
    local('RedditSans'),
    url('../assets/fonts/Reddit_Sans/static/RedditSans-SemiBold.ttf') format('truetype');
}
